body {
  background-color: #fff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.title {
  font-size: 36px;
  line-height: 56px;
  mix-blend-mode: normal;
  font-weight: bold;
}

.subtitle {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
  margin-bottom: 45px;
}

.subtitle__small {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  margin-bottom: 45px;
}

.btn {
  border-radius: 55px;
  width: 200px;
  height: 56px;
  border-color: #458ff6;
  outline: none;
}

.header {
  padding: 70px 0 84px 0;
  display: flex;
  justify-content: space-around;
  z-index: 3;
  background-color: transparent;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: transparent;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid transparent;
  text-decoration: none;
  color: #1f1534;
  transition: all 0.5s;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: transparent;
  font-weight: bold;
  color: #000;
  transform: scale(1.1);
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.line {
  width: 56px;
  height: 2px;
  background: #000000;
  border-radius: 5px;
  margin: 26px 0 33px 0;
}
/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 0;
  position: relative;
  user-select: none;
  left: 42%;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: all 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

.header__title--logo {
  width: 160px;
  height: 41px;
}

.consult {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 12%;
}

.consult__leftside {
  width: 445px;
  margin-bottom: 30px;
}

.consult__leftside__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 25px;
  transition: all 0.2s;
}

.consult__leftside__title:hover {
  transform: rotate(2deg);
}

.consult__leftside__subtitle {
  margin-bottom: 45px;
}

.consult__leftside__btn {
  background-color: #458ff6;
  color: #fff;
  transition: all 0.2s;
}

.consult__leftside__btn:hover {
  transform: scale(1.1);
  border-color: #000;
  cursor: pointer;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 200px;
}

.services__subtitle {
  width: 38%;
  text-align: center;
  margin-bottom: 80px;
}

.services__advantages {
  display: grid;
  grid-template-columns: repeat(auto-fill, 255px);
  grid-auto-flow: row;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  grid-gap: 34px;
  margin-bottom: 50px;
}

.advantages__subtitle {
  width: auto;
}

.icon {
  margin-bottom: 22px;
}

.advantages__icon--search {
  width: 92px;
  height: 90px;
  background: url(../img/css_sprites.png);
  background-position: -10px -10px;
}
.advantages__icon--medicine {
  width: 92px;
  height: 90px;
  background: url(../img/css_sprites.png);
  background-position: -298px -102px;
}

.advantages__icon--tablet {
  width: 68px;
  height: 95px;
  background: url(../img/css_sprites.png);
  background-position: -210px -10px;
}

.advantages__icon--stats {
  width: 68px;
  height: 95px;
  background: url(../img/css_sprites.png);
  background-position: -122px -10px;
}

.advantages__icon--keys {
  width: 80px;
  height: 72px;
  background: url(../img/css_sprites.png);
  background-position: -298px -10px;
  margin-bottom: 45px;
}

.advantages__icon--list {
  width: 70px;
  height: 95px;
  background: url(../img/css_sprites.png);
  background-position: -10px -120px;
}

.advantages__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 56px;
}

.advantages__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
  width: 30;
}

.advantages__item {
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  padding: 20px;
}

.services__btn {
  color: #458ff6;
  transition: all 0.2s;
  background-color: transparent;
}

.services__btn:hover {
  color: #000;
  border-color: #000;
  cursor: pointer;
}

.provides {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.provides__leftside {
  margin-right: 2%;
}

.provides__rightside {
  width: 445px;
  margin-left: 2%;
}

.provides__rightside__title {
  font-weight: bold;
  line-height: 56px;
  margin-bottom: 25px;
}

.provides__rightside__subtitle {
  margin-bottom: 45px;
  color: #7d7987;
}

.provides__rightside__btn {
  background-color: transparent;
  color: #458ff6;
  transition: all 0.2s;
}

.provides__rightside__btn:hover {
  color: #000;
  cursor: pointer;
  border-color: rgb(0, 0, 0);
}

.downloads {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 266px;
}

.downloads__leftside {
  margin-right: 2%;
}

.downloads__leftside {
  width: 445px;
  margin-left: 2%;
}

.downloads__leftside__title {
  width: 256px;
  line-height: 56px;
  margin-bottom: 25px;
}

.downloads__leftside__subtitle {
  margin-bottom: 45px;
  color: #7d7987;
}

.downloads__leftside__btn {
  background-color: transparent;
  color: #458ff6;
  transition: all 0.2s;
  margin-bottom: 20px;
}

.downloads__leftside__btn:hover {
  color: #000;
  cursor: pointer;
  border-color: #000;
}

.reviews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
  margin-bottom: 280px;
}

.rewiews__wrap {
  width: 50%;
  height: auto;
  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
  border-radius: 24px;
  padding-bottom: 90px;
}

.reviews__title {
  text-align: center;
  margin: 34px 0 0 0;
}

.rewiews__line {
  background: #fff;
  margin: 25px auto 77px;
}

.reviews__user {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.user__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.user__rewiew {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 48%;
  font-weight: 300;
  font-size: 1.125em;
  line-height: 30px;
}

.user__firstname {
  font-weight: bold;
  font-size: 1.375em;
  line-height: 48px;
}

.user__logo {
  border-radius: 50%;
  border: 5px solid #fff;
  max-width: 100%;
  height: auto;
}

.latest {
  text-align: center;
  margin-bottom: 200px;
}

.latest__line {
  margin: 26px auto 72px;
}

.latest__item > img {
  border-top-left-radius: 20px; /* Левый верхний уголок */
  border-top-right-radius: 20px; /* Правый верхний уголок */
  margin-bottom: 21px;
}

.latest__item {
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  width: 350px;
  margin: 15px;
}

.latest__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 70px;
  text-align: left;
}

.latest__item--title {
  width: 250px;
  font-weight: bold;
  font-size: 21px;
  line-height: 32px;
  padding: 10px 0 10px 10px;
  margin-bottom: 15px;
}

.latest__item--subtitle {
  width: auto;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 25px;
  padding: 10px;
  color: #7d7987;
}

.latest__btn {
  text-align: center;
  border: none;
  color: #4089ed;
  background-color: transparent;
  transition: all 0.2s;
  margin: 10px;
  outline: none;
}

.latest__btn:hover {
  color: #000;
  cursor: pointer;
}

.latest__view__all {
  color: #458ff6;
  border-color: #458ff6;
  background-color: transparent;
  transition: all 0.2s;
}

.latest__view__all:hover {
  border-color: #000;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.footer__container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 100px 0;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
  color: #fff;
}

.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.license {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.license__title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  padding: auto;
}

.license__title > span {
  border: 1px solid #fff;
  background-color: #fff;
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 30px;
  color: #5b9bf3;
  text-align: center;
}

.license__subtitle {
  margin-bottom: 31px;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  width: 50%;
}

.license__rigths {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}

.menu__item > h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
}

.menu__item {
  margin-right: 100px;
  width: 19%;
}

.menu__list > li {
  font-weight: 300;
  font-size: 18px;
  line-height: 38px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.menu__list > li:hover {
  color: black;
}

.footer__container {
  flex-wrap: wrap;
}

@media (max-width: 1020px) {
  .reviews__user {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }

  .services__advantages {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .advantages__subtitle {
    width: 300px;
  }
}

@media (max-width: 36em) {
  body {
    text-align: center;
  }

  .header {
    padding: 20px 10px 24px 10px;
  }

  .line {
    margin: 26px auto;
  }

  .consult,
  .services,
  .provides,
  .downloads,
  .reviews,
  .latest {
    padding: 7%;
  }

  .downloads {
    flex-direction: row-reverse;
  }

  .services {
    margin-bottom: 30px;
  }

  .provides {
    margin-bottom: 100px;
  }

  .reviews {
    margin-bottom: 20px;
  }

  .downloads {
    margin-bottom: 100px;
  }

  .latest {
    margin-bottom: 0;
  }

  .consult__leftside__title {
    font-size: 32px;
  }

  .consult__leftside__btn {
    margin-bottom: 20px;
  }

  .downloads__leftside__title {
    width: auto;
  }

  img {
    width: 297px;
    height: 248px;
  }

  .latest__img {
    width: 303px;
    height: 208px;
  }

  .latest__item--subtitle {
    text-align: center;
  }

  .latest__title {
    margin-bottom: 20px;
  }

  .latest__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .rewiews__wrap {
    width: auto;
  }

  .reviews__title {
    font-size: 28px;
    margin: 34px 0 40px 0;
    line-height: 24px;
    padding: 10px;
  }

  .user__rewiew {
    width: 50%;
    font-size: 16px;
    line-height: 15px;
  }

  .reviews__user {
    flex-direction: column;
    align-items: center;
  }

  .user__logo {
    width: 150px;
    height: 150px;
  }

  .user__info {
    margin-bottom: 20px;
  }

  .advantages__title {
    line-height: 31px;
  }

  .advantages__item {
    margin-bottom: 20px;
    transition: all 0.2s;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .advantages__item:hover {
    transform: scale(1.05);
  }

  .header {
    padding: 20px 0 24px 0;
  }

  .latest__line {
    margin-left: 45%;
  }

  .license {
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .license__rigths {
    width: 50%;
  }

  .footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }

  .menu__item {
    width: auto;
    text-align: center;
    font-size: 12px;
    margin: 0 26.5px;
  }

  .menu__list > li {
    display: none;
  }

  .subtitle__small {
    font-size: 14px;
    line-height: 20px;
  }

  .footer__menu {
    flex-direction: column;
  }
}

@media (max-width: 321px) {
  body {
    text-align: center;
  }

  img {
    width: 243px;
    height: 200px;
  }

  .line {
    margin: 20px auto;
  }

  .header__title--logo {
    padding: 10px;
  }

  .header .menu-icon {
    left: 31%;
    padding: 28px 10px;
  }

  .consult__leftside__title {
    font-size: 22px;
  }

  .consult__leftside__subtitle {
    font-size: 18px;
  }

  .consult__leftside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .services__title {
    margin: 0;
    font-size: 22px;
  }

  .services__subtitle {
    width: auto;
    margin-bottom: 20px;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .advantages__title {
    font-size: 18px;
  }

  .advantages__subtitle {
    font-size: 14px;
  }

  .provides {
    margin-bottom: 30px;
  }

  .provides__rightside__title {
    font-size: 22px;
  }

  .downloads {
    margin-bottom: 60px;
  }

  .downloads__leftside {
    margin-bottom: 30px;
  }

  .downloads__leftside__title {
    font-size: 22px;
  }

  .reviews__title {
    font-size: 22px;
    margin: 20px 0 0 0;
  }

  .rewiews__line {
    margin: 20px auto;
  }

  .user__logo {
    width: 110px;
    height: 110px;
  }

  .user__firstname {
    font-size: 1.125em;
  }

  .user__info {
    font-size: 16px;
  }

  .user__rewiew {
    width: 80%;
  }

  .latest__title {
    font-size: 22px;
  }

  .latest__item--title {
    font-size: 15px;
    text-align: center;
  }

  .latest__img {
    width: 293px;
    height: 198px;
  }

  .footer__menu {
    flex-direction: column;
  }
}
